$night_background: #202146;
$lighter_night_background: #92406e;

$sun: #ff901f;
$sun_set: #ff2975;


$chart_lines: #2de2e6;
$chart_legend: #035ee8;
$chart_lines: #9700cc;


$font_light: darken(#2de2e6, 13);
$font_light_hover: #2de2e6;