@import '../../styles_base/variables.scss';

.p_style {
    width: 100%;

    margin: 10px 0 0 0;
}

.s {
    height: 16px;

    font-size: small;
}

.m {
    height: 21px;

    font-size: medium;
}

.l {
    height: 26px;

    font-size: large;
}

.xl {
    height: 31px;

    font-size: large;
}